@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f3f1eb;
}


@layer base {
    @font-face {
        font-family: Lexon;
        src: url(../fonts/Lexon_headline.woff2);
        font-weight: 700;
    }
    @font-face {
        font-family: DraftE;
        src: url(../fonts/DraftE_Medium.woff2);
        font-weight: 500;
    }
    @font-face {
        font-family: DraftH;
        src: url(../fonts/DraftH_Regular.woff2);
        font-weight: 400;
    }
}